---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import XIcon from "../icons/XIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/MailIcon.astro";
import Experiences from "../components/Experiences.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TextAnimatedGradient from "../components/TextAnimatedGradient";
import ScrollTopButton from "../components/ScrollTopButton.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../components/ProfileCheck.astro";
import Code from "../icons/Code.astro";
import Proyects from "../components/Proyects.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Mikel Echeverria - Desarrollador Backend en Pamplona | mikeldev.com"
	description="Portafolio de Mikel Echeverria, desarrollador Backend de Pamplona, Espa침a. Especializado en aplicaciones multiplataforma, dise침o web, y soluciones tecnol칩gicas innovadoras."
/>
<main class="max-w-[screen-sm] px-4 md:px-8 lg:px-16">
	<SectionContainer class="py-16 sm:py-32 lg:py-44">
		<div
			class="flex flex-col items-center sm:items-start sm:flex-row sm:gap-x-4"
		>
			<img
				class="rounded-full size-24 sm:size-32 object-cover object-center mb-4 sm:mb-0 lg:mb-4"
				src="https://github.com/byronnDev.png"
				alt="mikel portrait"
			/>
			<div
				class="flex flex-col lg:flex-row gap-x-4 items-center sm:items-start"
			>
				<h1
					class="text-3xl sm:text-4xl font-bold mb-4 text-center sm:text-left lg:mt-9"
				>
					Hola! soy <TextAnimatedGradient fontSize="inherit"
						>Mikel</TextAnimatedGradient
					>
				</h1>
				<a
					href="https://www.linkedin.com/in/mikel-echeverria"
					target="_blank"
					rel="noopener noreferrer"
					class="lg:mt-11"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div>
		</div>

		<h2
			class="text-xl sm:text-2xl text-wrap mt-4 sm:mt-0 text-center sm:text-left"
		>
			<span class="opacity-80"
				>Desarrollador Backend de Pamplona, Espa침a 游쀯릖. Apasionado por la
				tecnolog칤a,</span
			> innovaci칩n
			<span class="opacity-80">y el</span> dise침o
			<span class="opacity-80"
				>. Comprometido en crear experiencias
			</span>
			excepcionales
			<span class="opacity-80">y soluciones </span>
			creativas.
		</h2>

		<ul class="flex flex-wrap justify-center sm:justify-start gap-4 mt-8">
			<li>
				<SocialPill
					perfilPill
					href="https://github.com/byronnDev"
					title="Perfil de Github"
				>
					<GitHubIcon class="size-5 sm:size-6" />
				</SocialPill>
			</li>
			<li>
				<SocialPill
					href="https://www.linkedin.com/in/mikel-echeverria"
					title="Perfil de LinkedIn"
				>
					<LinkedInIcon class="size-5 sm:size-6" />
				</SocialPill>
			</li>
			<li>
				<SocialPill
					href="https://x.com/MikelEcheve"
					title="Perfil de X"
				>
					<XIcon class="size-5 sm:size-6" />
				</SocialPill>
			</li>
			<li>
				<SocialPill
					href="mailto:mikel@mikeldev.com"
					title="Enviar correo"
				>
					<MailIcon class="size-5 sm:size-6" />
					mikel@mikeldev.com
				</SocialPill>
			</li>
		</ul>
	</SectionContainer>

	<SectionContainer class="py-16 sm:py-32">
		<h2 id="experiencia" class="text-2xl font-bold mb-6 flex gap-x-2">
			<BriefcaseIcon class="size-7" />
			Experiencia laboral
		</h2>
		<Experiences />
	</SectionContainer>

	<SectionContainer class="py-16 sm:py-32 lg:py-44">
		<h2 id="proyectos" class="text-2xl font-bold mb-6 flex gap-x-2">
			<Code class="size-7" />
			Proyectos
		</h2>
		<Proyects />
	</SectionContainer>

	<SectionContainer>
		<h2 id="sobre-mi" class="text-2xl font-bold mb-6 flex gap-x-2">
			<ProfileCheck class="size-7" />
			Sobre m칤
		</h2>
		<AboutMe />
	</SectionContainer>

	<ScrollTopButton />
	<Footer />
</main>
