---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import XIcon from "../icons/XIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/MailIcon.astro";
import Experiences from "../components/Experiences.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TextAnimatedGradient from "../components/TextAnimatedGradient";
import ScrollTopButton from "../components/ScrollTopButton.astro";
import BriefcaseIcon from "../icons/BriefcaseIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../components/ProfileCheck.astro";
---

<Layout
	title="Porfolio de mikeldev - Desarrollador y Programador de Aplicaciones Multiplataforma"
	description="Mikel Echeverria, Desarrollador Full Stack de Pamplona, Espa침a. Apasionado por la tecnolog칤a, innovaci칩n y el dise침o. Comprometido en crear experiencias excepcionales y soluciones creativas."
/>
<main class="max-w-[screen-sm]">
	<SectionContainer>
		<img
			class="rounded-full size-24 object-cover object-center mb-4"
			src="/src/images/photo.jpg"
			alt="mikel portrait"
		/>
		<h1 class="text-4xl font-bold mb-4 flex flex-row gap-x-4 pb-4">
			Hola! soy <TextAnimatedGradient fontSize="2.5rem"
				>Mikel</TextAnimatedGradient
			>
			<a
				href="https://www.linkedin.com/in/mikel-echeverria-b83727253"
				target="_blank"
				rel="noopener noreferrer"
				class="flex justify-center items-center"
			>
				<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-2xl text-wrap">
			<span class="opacity-80"
				>Desarrollador Full Stack de Pamplona, Espa침a 游쀯릖. Apasionado por
				la tecnolog칤a,</span
			> innovaci칩n
			<span class="opacity-80">y el</span> dise침o
			<span class="opacity-80"
				>. Comprometido en crear experiencias
			</span>
			excepcionales
			<span class="opacity-80">y soluciones </span>
			creativas.
		</h2>

		<ul class="flex flex-wrap gap-x-4 mt-8">
			<SocialPill href="https://github.com/byronnDev">
				<GitHubIcon class="size-6" />
			</SocialPill>
			<SocialPill
				href="https://linkedin.com/in/mikel-echeverria-b83727253"
			>
				<LinkedInIcon class="size-6" />
			</SocialPill>
			<SocialPill href="https://x.com/MikelEcheve">
				<XIcon class="size-6" />
			</SocialPill>
			<SocialPill href="mailto:mikel@mikeldev.com">
				<MailIcon class="size-6" />
				mikel@mikeldev.com
			</SocialPill>
		</ul>
	</SectionContainer>

	<SectionContainer>
		<h2 id="experiencia" class="text-2xl font-bold mb-6 flex gap-x-2">
			<BriefcaseIcon class="size-7" />
			Experiencia laboral
		</h2>
		<Experiences />
	</SectionContainer>

	<SectionContainer>
		<h2 id="sobre-mi" class="text-2xl font-bold mb-6 flex gap-x-2">
			<ProfileCheck class="size-7" />
			Sobre m칤
		</h2>
		<AboutMe />
	</SectionContainer>
</main>

<ScrollTopButton />
