---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
    {
        date: "Agosto 2024 - Octubre 2024",
        title: "Desarrollador Backend | Tesicnor SL, Noain, Navarra",
        description: `Como Desarrollador Backend, trabajé en el diseño y desarrollo de aplicaciones web utilizando Spring Boot y bases de datos relacionales como MySQL. Adquirí experiencia en el desarrollo de aplicaciones web y en la implementación de servicios RESTful, lo que me permitió mejorar mis habilidades en el desarrollo backend.`,
        link: "https://www.tesicnor.com/",
    },
    {
        date: "Verano 2024",
        title: "Camp Counselor | Camp Longhorn Inks Lake, Texas",
        description: `Tuve la oportunidad de mejorar significativamente mi nivel de inglés a través de la
inmersión total en un entorno de habla inglesa. Guié y supervisé a grupos de niños en
diversas actividades, fomentando un ambiente seguro y positivo. Además, obtuve la
titulación de socorrista (lifeguard), lo que me permitió garantizar la seguridad en
actividades acuáticas.`,
        link: "https://www.camplonghorn.com/",
    },
    {
        date: "Enero 2024 - Mayo 2024",
        title: "Desarrollador Full Stack | Tesicnor SL, Noain, Navarra",
        description: `
        Como Desarrollador Full Stack, trabajé en el diseño y desarrollo de aplicaciones web utilizando Spring Boot para el backend y Angular para el frontend. Además, adquirí experiencia práctica en el desarrollo full stack, con énfasis en el backend y bases de datos relacionales como MySQL.`,
        link: "https://www.tesicnor.com/",
    },
    {
        date: "Marzo 2022 - Junio 2022",
        title: "Informático en Prácticas | Ayuntamiento de Burlada",
        description: `Durante mis prácticas en el Ayuntamiento de Burlada como informático, adquirí
experiencia en resolución de problemas y trabajo en equipo. Contribuí al desarrollo de
sistemas informáticos municipales, colaborando con profesionales y fortaleciendo mi
pasión por la informática y el campo tecnológico.`,
        link: "https://www.burlada.es/",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCES.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
