<header
    class="flex justify-center items-center py-5 w-auto mx-auto"
    style="position: sticky; top: 0; z-index: 1000;"
>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#" class="menu-item">Inicio</a>
        <a href="#experience" class="menu-item">Experiencia</a>
        <a href="#proyectos" class="menu-item">Proyectos</a>
        <a href="#sobreMi" class="menu-item">Sobre mi</a>
        <a href="#contacto" class="menu-item">Contacto</a>
    </nav>
</header>

<style>
    .blur-background {
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .menu-item:hover {
        opacity: 1;
    }
</style>

<script defer>
    window.addEventListener("scroll", function () {
        const header = document.querySelector("header");
        if (window.scrollY > 10) {
            setTimeout(function () {
                header.classList.add("blur-background");
            }, 500); // Add a delay of 1 second (1000 milliseconds)
        } else {
            header.classList.remove("blur-background");
        }
    });
</script>