---
// Importa el componente ButtonAnimatedGradient
import ButtonRotatingBackgroundGradient from "./ButtonRotatingBackgroundGradient.tsx";
---

<a href={Astro.props.href} target="_blank" rel="noopener noreferrer">
    <ButtonRotatingBackgroundGradient>
        <slot />
    </ButtonRotatingBackgroundGradient>
</a>
