---
import ButtonRotatingBackgroundGradient from "./ButtonRotatingBackgroundGradient.tsx";
---

<a
    href={Astro.props.href}
    target="_blank"
    rel="noopener noreferrer"
    title={`Perfil de ${Astro.props.title} en redes sociales`}
>
    <ButtonRotatingBackgroundGradient>
        <slot />
    </ButtonRotatingBackgroundGradient>
</a>
