---
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- This line is important for SEO -->
		<meta name="robots" content="noindex" />
		<!-- Meta Tags SEO -->
		<meta
			name="title"
			content="Mikel Echeverria - Desarrollador Backend en Pamplona | mikeldev.com"
		/>
		<meta
			name="description"
			content="Portafolio de Mikel Echeverria, desarrollador Backend de Pamplona, España. Especializado en aplicaciones multiplataforma, diseño web, y soluciones tecnológicas innovadoras."
		/>
		<meta
			name="keywords"
			content="Mikel Echeverria, mikeldev, desarrollador Backend, Pamplona, aplicaciones multiplataforma, diseño web, soluciones tecnológicas, programación"
		/>
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://www.mikeldev.com" />

		<!-- Open Graph Tags -->
		<meta
			property="og:title"
			content="Mikel Echeverria - Desarrollador Backend en Pamplona"
		/>
		<meta
			property="og:description"
			content="Portafolio de Mikel Echeverria, desarrollador Backend de Pamplona, especializado en aplicaciones multiplataforma, diseño web y soluciones innovadoras."
		/>
		<meta
			property="og:image"
			content="https://www.mikeldev.com/img/mikel-echeverria.jpg"
		/>
		<meta property="og:url" content="https://www.mikeldev.com" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Mikel Echeverria - Desarrollador Backend en Pamplona"
		/>
		<meta
			name="twitter:description"
			content="Portafolio de Mikel Echeverria, desarrollador Backend especializado en aplicaciones multiplataforma y diseño web innovador."
		/>
		<meta
			name="twitter:image"
			content="https://www.mikeldev.com/img/mikel-echeverria.jpg"
		/>

		<!-- Title Tag -->
		<title>
			Mikel Echeverria - Desarrollador Backend en Pamplona | mikeldev.com
		</title>

		<!-- CSS Stylesheets -->
		<link rel="stylesheet" href="styles.css" />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		background-color: #0a0a0a;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
		height: 100%;
		margin: 0;
	}

	body {
		color: rgba(17, 17, 17, 0.9);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: rgba(255, 255, 255, 0.9);
		}
	}

	#header-nav {
		animation: blur linear both 0.5s;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}

	@keyframes blur {
		to {
			backdrop-filter: blur(20px);
			border-width: 1px;
			border-color: rgba(0, 0, 0);
			padding: 0.25rem 0.75rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			background-color: rgb(229, 229, 229);
			border-radius: 9999px;
		}
	}

	@media (prefers-color-scheme: dark) {
		@keyframes blur {
			from {
				border: 0px;
			}
			to {
				box-shadow:
					0px 5px 50px -5px rgba(0, 0, 0, 0.1),
					0px 0px 0 1px rgba(0, 0, 0, 0.3);
				background: rgba(0, 0, 0, 0.3);
				backdrop-filter: blur(20px);
				border-width: 1px;
				border-color: rgba(0, 0, 0);
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 9999px;
			}
		}
	}
</style>
